.margin{width:1203px;padding:0 30px;margin: 0 auto;}
#top{height:99px;}
#top a{width:100%;height:100%;display:block;background:url(../img/top.jpg) no-repeat;}
nav{width:80%;height:42px;margin:0 auto;display:flex;justify-content:space-between;}
nav .menu{display:flex;line-height: 42px;}
nav .menu a{font:12px/42px "";color:#333;display:block;padding-left:5px;}
nav .menu .gz a{padding-right:5px;}
nav .menu .hnews a{display:block;font:12px/42px "";color:#333;width:60px;padding:0;}
nav .menu span{margin-right:7px;}
nav .menu a span:nth-child(1){margin-right: 0;}
nav .menu a span:nth-child(3){margin-left:7px;margin-right:0;}
nav i{display:inline-block;background:url(../img/bg.png);background-size:20px 95px;width:17px;height:17px;vertical-align: middle;margin-right:5px;}
nav .menu div{padding:0 5px;}
nav div a i.i2{background-position:-1px -18px ;}
nav div a i.i3{background-position:-1px -36px ;}
nav i.i4{width:5px;height:10px;background-position:-1px -54px;margin-left:5px;}
nav li a i.i5{width:19px;height:14px;background-position:-1px -71px;}
nav .gz{position: relative;}
nav .weibo{display:none;background:#AAAAAA;position: absolute;top:30px;left:0;}
nav .weibo p a{font:14px/36px ""}
nav .gz:hover .weibo{display: block;}
nav .go{display:flex;line-height: 42px;font:12px/42px "";}
nav .go span{padding:0 5px;}
nav .go .login:hover u{color:#FF0000}
nav .go .register:hover u{color:#FF0000}
nav .go .hello{display:none;margin-left:10px;}
nav .go .hello a{cursor: pointer;color:#007BFF;}

header{height:114px;background:black;display:flex;}
header .logo{margin-left:20px;width:440px;}
header .ss{}
header .ss .ss-t{overflow: hidden;margin-top:45px;}
header .ss .ss-t .txt{float:left;height:23px;width:258px;border:1px solid #666;}
header .ss .ss-t .sear{float:left;width:30px;height:25px;border:1px solid #666;background:url(../img/sear.png) no-repeat;}
header ul{overflow: hidden;}
header ul li{float: left;margin-top:6px;color:#fff;}
header ul li a{color:#fff;margin:0 3px;}
header img.phone{width:248px;height:22px;margin:44px 0 0 31px;}


#dao{height: 33px;background: #616161;display: flex;}
#dao .dao-l{width:250px;height:100%;background:#303030;position: relative;}
#dao .dao-l h3{font:700 14px/33px "宋体";text-align: center;position:relative}
#dao .dao-l h3 a{color:#fff;display:block;}
#dao .dao-l h3 .wang{display:none;width:100%;height:42px;position:absolute;top:33px;left:0;
background:#cacaca;text-align: center;font:700 16px/42px "";color:#000;z-index:60;}
#dao .dao-l h3:hover .wang{display: block;}



#dao ul{display:flex;text-align:center;}
#dao ul li{width:160px;font-size:16px;font-weight: 700;height:100%;line-height:33px;}
#dao ul li a{color:#fff;}
#dao ul li:hover{background:#1a1a1a;}
#dao ul .shou{position: relative;}
#dao ul .shou .box{background:#fff;text-align:left;position: absolute;width:720px;z-index: 70;top:33px;left:0;display:none;overflow:hidden;}
#dao ul .shou .box div{float:left;box-sizing:border-box;width:180px;height:120px;border-right:1px dashed #F1F1F1;}
#dao ul .shou .box div:hover{background:#EEEEEE;}
#dao ul .shou .box div a{color:#000;line-height:50px;}
#dao ul .shou .box div h4{line-height: 50px;}
#dao ul .shou .box div p a{font:12px/3 "";}
#dao ul .shou .box div:nth-child(4){border-right:0;}
#dao ul .shou .box div:nth-child(8){border-right:0;}
#dao ul .shou .box div:nth-child(1){border-bottom:1px dashed #F1F1F1;}
#dao ul .shou .box div:nth-child(2){border-bottom:1px dashed #F1F1F1;}
#dao ul .shou .box div:nth-child(3){border-bottom:1px dashed #F1F1F1;}
#dao ul .shou .box div:nth-child(4){border-bottom:1px dashed #F1F1F1;}
#dao ul .shou:hover .box{display: block;}
#dao ul .shou .box div p a:hover{background:#fff;}




main{margin:0 auto;padding:0 150px;min-height:500px;}
main .top{overflow: hidden;}
main .top img:nth-child(1){float: left;}
main .top img:nth-child(2){float: right;margin:30px 0;}

main .car p{font:700 16px/2 "";margin-bottom:20px;}
main .car table{cellspacing:1;width:1000px;text-align: center;}
main .car table tr img{width:100px;height:100px;margin:5px;}
main .car thead tr th{font:700 16px/2 ""}
main .car .pay{margin-bottom:40px;display: flex;justify-content:space-between;align-items: center;}
main .car .pay-c{font:18px/2 "";padding-left: 200px;margin-top:20px;}
main .car .pay-l{display:inline-block;width:160px;height:40px;background:#e01841;font:700 20px/40px "";color:#fff;margin-top:20px;border-radius:5px;text-align:center;box-shadow: 0 0 5px #ddd;}
main .car .pay-r{display:inline-block;font:18px/2 "";margin-left:40px;color:#E01841}
main .car .del{cursor: pointer;}
main .car .del:hover{color:red}




#help{background: #171717;display:flex;padding:20px 0;}
#help .help-l{margin-left:50px;}
#help .help-l .dingyue{overflow: hidden;border:1px solid #9c979d;}
#help .help-l .dingyue input{border:0;float: left;font:12px/20px "";}
#help .help-l .dingyue .txt{width:136px;}
#help .help-l .dingyue .dy{background:#9c979d;width:55px;color:#fff;text-align:center}
#help .help-r{display:flex;margin-left:150px;flex: 1;}
#help .help-r dl{border-left:1px dashed #9c979d;padding:0 30px;flex: 1;}
#help .help-r dl dt{font:16px/18px "";color:#fff;}
#help .help-r dl dd{margin-left:8px;font:12px/28px "";position: relative;}
#help .help-r dl dd:before{content:"";display:inline-block;width:3px;height:3px;background:#9c979d;position: absolute;left:-8px;top:50%;}
#friend{padding-top:10px;margin-bottom: 30px;}
#friend .menu{display: flex;border-bottom:1px solid #C0C0C0;}
#friend .menu li{border: 1px solid #C0C0C0;border-bottom:0;font:12px/2 "";margin:0 3px;padding:0 10px;}
#friend .num{border-bottom:1px solid #C0C0C0;font:12px/2 "";}
#friend .num a{color:#000;}

#foot{text-align: center;}
#foot p{font:12px/2 "";}
#foot div{margin-bottom:10px;}